body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(102, 51, 153), rgb(75, 0, 130));
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    color: white;
}

fieldset {
    border: 3px solid rebeccapurple;
}

legend {
    border: 1px solid rebeccapurple;
    padding: 10px;
    text-align: center;
    background-color: rebeccapurple;
    border-radius: 8px;
    font-size: 16px;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    transition: border-bottom 0.3s ease-in-out;
}

.inputUser:invalid {
    border-bottom: 1px solid plum;
}

.inputUser:valid {
    border-bottom: 1px solid slateblue;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5px;
    font-size: 14px;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: rebeccapurple;
}

p {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

#data-nascimento {
    background-color: rgba(75, 0, 130, 0.8);
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    transition: background-color 0.3s ease;
}

#data-nascimento:focus {
    background-color: rgba(102, 51, 153, 1);
}

#data-nascimento:hover {
    background-color: rgba(102, 51, 153, 0.9);
}

#data-nascimento::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}


#submit {
    background-image: linear-gradient(to right, rgb(102, 51, 153), rgb(75, 0, 130));
    width: 100%;
    padding: 18px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

#submit:disabled {
    background-color: grey;
    cursor: not-allowed;
}

#submit:hover {
    background-color: #4b0082; /* Usando uma cor mais forte no hover */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

#submit:disabled:hover {
    background-color: grey;
}


@media screen and (max-width: 768px) { 
    .box {
        width: 95%;
        max-width: 90%; 
        padding: 20px; 
    }

    legend {
        font-size: 14px;
    }

    .inputUser {
        font-size: 14px; 
    }

    #submit {
        padding: 12px;
        font-size: 14px;
        font-weight: bold;
    }
}